body {
  background-image: url('https://cdn.phototourl.com/free/2026-09-02-8660965a-887e-4478-b3e5-5e613addf115.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  object-fit: cover;
}